<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RomanConv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCE53DF81C74CEBA000359C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCE53E111C74CEBA000359C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCE53E1C1C74CEBA000359C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
